@model GuestResponse
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RsvpForm</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="alert alert-info">
        <div class="text-center alert-heading"><h4>RSVP</h4></div>
        <div class="alert-info">
            <form class="p-1" asp-action="RsvpForm" method="post">
                <div asp-validation-summary="All"></div>
                <div class="form-group">
                    <label asp-for="Name">Your Name:</label>
                    <input asp-for="Name" />
                </div>
                <div class="form-group">
                    <label asp-for="Email">Your Email:</label>
                    <input asp-for="Email" />
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Your Phone:</label>
                    <input asp-for="Phone" />
                </div>
                <div class="form-group">
                    <label>Will you attend?</label>
                    <select asp-for="WillAttend">
                        <option value="">Choose an option</option>
                        <option value="true">Yes, I'll be there</option>
                        <option value="false">No, I can't come</option>
                    </select>
                </div>
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Submit RSVP</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>